* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#booksCol {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#booksCol .card {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

#addButton {
  margin: 10px;
}